<h1>Nerf App</h1>
<% if current_player %>
  Welcome <%= current_player.name %>!
  <%= link_to "Sign Out", signout_path %>
<% else %>
  <%= link_to "Sign in with Planning Center", "/auth/planning_center" %>
<% end %>
